---
import { fetchContact, fetchHome } from '@/lib/directus';
import { navigations } from '@/constants/sections';

const contact = await fetchContact();
const result = await fetchHome();
const fullName = result.full_name.replace(' ', '');

const links = [
  {
    name: 'Source Code',
    to: 'https://github.com/tfkhdyt/portfolio-website',
  },
  {
    name: 'License',
    to: 'https://github.com/tfkhdyt/portfolio-website/blob/master/LICENSE',
  },
];
---

<footer class='bg-[#18202a]'>
  <div
    class='container mx-auto flex flex-col-reverse justify-between gap-10 py-10 text-lg md:py-14 lg:flex-row'
  >
    <p class='text-right text-sm font-light text-gray-300 md:text-lg lg:hidden'>
      Copyright &copy; {result.full_name}
      {new Date().getFullYear()}
    </p>
    <div class='flex flex-wrap gap-x-12 gap-y-6 md:gap-24'>
      <div>
        <p class='font-bold uppercase text-teal-300 md:text-xl'>Contacts</p>
        <ol class='space-y-1 pt-2 md:space-y-2 md:pt-4'>
          {
            contact.map((c) => (
              <li class='text-lg font-medium md:text-xl'>
                <a
                  href={c.url}
                  target='_blank'
                  class='decoration-teal-300 decoration-[3px] underline-offset-[6px] hover:underline'
                >
                  {c.name}
                </a>
              </li>
            ))
          }
        </ol>
      </div>
      <div>
        <p class='font-bold uppercase text-teal-300 md:text-xl'>Navigation</p>
        <ol class='space-y-1 pt-2 md:space-y-2 md:pt-4'>
          {
            navigations.map((nav) => (
              <li class='text-lg font-medium md:text-xl'>
                <a
                  href={nav.to}
                  class='decoration-teal-300 decoration-[3px] underline-offset-[6px] hover:underline'
                >
                  {nav.name}
                </a>
              </li>
            ))
          }
        </ol>
      </div>

      <div>
        <p class='font-bold uppercase text-teal-300 md:text-xl'>Links</p>
        <ol class='space-y-1 pt-2 md:space-y-2 md:pt-4'>
          {
            links.map((link) => (
              <li class='text-lg font-medium md:text-xl'>
                <a
                  href={link.to}
                  target='_blank'
                  class='decoration-teal-300 decoration-[3px] underline-offset-[6px] hover:underline'
                >
                  {link.name}
                </a>
              </li>
            ))
          }
        </ol>
      </div>
    </div>
    <div class='flex flex-col justify-between lg:text-right'>
      <div class='space-y-4'>
        <span class='font-mono text-xl font-extrabold md:text-4xl'
          ><span class='text-indigo-500'>{'<'}</span>{fullName}
          <span class='text-indigo-500'>{' />'}</span></span
        >
        <h3 class='max-w-lg text-sm font-light text-gray-300 md:text-xl'>
          {result.description}
        </h3>
      </div>

      <p class='hidden font-light text-gray-300 md:text-lg lg:block'>
        Copyright &copy; {result.full_name}
        {new Date().getFullYear()}
      </p>
    </div>
  </div>
</footer>
